/* Cambiar color del título principal (site-title) */

@media (prefers-color-scheme: dark) {
  html:not([data-mode]),
  html[data-mode='dark'] {
    color-scheme: dark;
    .post-desc {
      color: #cccccc;
    }
    #sidebar .site-title {
      color: #3a9191;
    }
    --heading-color: #3a9191;
    h1 {
      color: #3a9191;
    }
    h2 {
      color: #56b3b3;
    }
    h3 {
      color: #7cd6d6;
    }
    h4 {
      color: #b3ecec;
    }
    strong,
    b {
      color: #c68c36; /* resaltado */
    }
  }
}

@media (prefers-color-scheme: dark) {
  html[data-mode='light'] {
    .post-desc {
      color: #2a2a2a;
    }
    #sidebar .site-title {
      color: #11515a;
    }
    .card-title {
      color: #11515a;
    }
    --heading-color: #11515a;
    h1 {
      color: #11515a;
    }
    h2 {
      color: #007f7a;
    }
    h3 {
      color: #1ba7a2;
    }
    h4 {
      color: #3fc3bd;
    }
    strong,
    b {
      color: #da8500; /* resaltado */
    }
  }
}
